'/c/Users/un4/IdeaProjects/CRUD-SERVLET-JAVA EE/CLIENT/WEB/web/assets'
'/c/Users/un4/IdeaProjects/CRUD-SERVLET-JAVA EE/CLIENT/WEB/web/WEB-INF/lib'
'/c/Users/un4/IdeaProjects/CRUD-SERVLET-JAVA EE/SERVER/web/assets'
'/c/Users/un4/IdeaProjects/CRUD-SERVLET-JAVA EE/SERVER/web/WEB-INF/lib' 
